<div class="col-sm-3 col-md-3" >
    <div style="border:1px solid #cecece; border-radius: 25px" id="odstup">
        <img src="../public/src/Axe1.png" alt="Picture for lvl 1-5" class="rounded mx-auto d-block" style="width: auto; height: 100px">
        <div id="name" style="text-align: center; font-size: 25px; font-weight: bold; margin-top: 15px"> Normal axe </div>
        <div id="level" style="text-align: center"> <span id="card_level">  </span></div>

        <div> Energy: <span id="vysledek"></span> </div>

        <br>
        <div style="font-weight: bold"> Next level  </div>
        <div > Iron: <span id="iron">  </span> </div>
        <div > Wood: <span id="wood">  </span> </div>
        <br>

        <div >
                <button id="cardDetail" onclick="cardDetails(1,'Level 5')" type="submit" class="btn btn-danger btn-md btn-block"> Get INFO </button>
        </div>

    </div>
</div>

<script src="../public/js/html.js"> </script>
<script src="../public/js/jquery.js"></script>